/***** BASE STYLES *****/
body{
font-family: 'Oswald', sans-serif;
background-color: #ffffff;
}
/*****HEADER*****/
header h1 {
	color: ##191970;
	font-size:30px;
  height:100px;
	text-align: center;
}
/*****SECTION*****/
section h2{
	color:##191970;
	font-size:20px;
	text-align: center;
}
section p{
	color: #000000;
	font-size: 15px;
	text-align: justify;
}
/*****FOOTER*****/
footer{
	color: #000000;
	font-size: 9px;
	text-align: left;
}
